// GLOBAL //

*:not(head):not(style):not(meta):not(script):not(title):not(link) {
	display: block;
	position: relative;
}

:root {
	--clr-pri: khaki;
	--clr-black: #222;

	--fnt-large: 1.8rem;

	* {
		transition-duration: 500ms;
		transition-timing-function: ease-in-out;
	}
}

html {

	body {

		&.app {
			-ms-user-select: none !important;
			-moz-user-select: none !important;
			user-select: none !important;
		}
	}
}

// RESET //

h1,h2,h3,h4,h5,h6,p,sup,sub {
	margin: 0;
}

h5 {
	font-size: 1rem;
}

// MIXINS //

.edge-inner() {
	box-shadow:
		inset 0 0 0 14px var(--clr-black),
		inset 0 0 0 16px var(--clr-pri);
}

.edge-hori() {
	box-shadow:
		-2px 0 0 0 var(--clr-pri),
		2px 0 0 0 var(--clr-pri);
}

.edge-verti() {
	box-shadow:
		0 -2px 0 0 var(--clr-pri),
		0 2px 0 0 var(--clr-pri);
}

.overlay() {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.side-text() {

	&:after {
		content: attr(side-text);
		position: absolute;
		left: 0;
		top: 0;
		transform-origin: 0 0;
		transform: rotate(-90deg) translate(-100%, -100%);
	}
}

// STYLE //

html {
	font-family: 'Jura', sans-serif;
}

body {
	overflow-x: hidden;
	padding: 1rem;
	text-align: center;
}

.lp {

	header {
		
	}
}

.bg-paper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

.text-bubble {
	display: none;

	max-width: 300px;
	padding: 1rem;
	margin: 2rem auto;
	box-shadow:
		inset 0 -0.25rem 0 0 black,
		inset 0 0.25rem 0 0 black;
	background-color: white;
	border-radius: 1rem;
	cursor: pointer;

	&:before, &:after {
		background-color: white;
		content: '';
		display: block;
		height: 1rem;
		position: absolute;
		top: -1rem;
		width:50%;
		box-sizing: border-box;
	}
	
	&:before {
		left: 0;
		box-shadow: 2rem 0 0 0 black;
		border-radius: 0 0 1rem 0;
	}

	&:after {
		right: 0;
		border-radius: 0 0 0 1rem;
	}

	&-bottom {
		&:before, &:after {
			top: unset;
			bottom: 1rem;
		}
	}
}

.lp-book {
	& > * {
		margin-top: 4rem;
	}
}
