// GLOBAL //

*:not(head):not(style):not(meta):not(script):not(title):not(link) {
	display: block;
	position: relative;
}

:root {
	--clr-pri: khaki;
	--clr-black: #222;

--fnt-large: 1.8rem;

	* {
		transition-duration: 200ms;
		transition-timing-function: ease-in-out;
	}
}

// RESET //

h1,h2,h3,h4,h5,h6,p,sup,sub {
	margin: 0;
}

h5 {
	font-size: 1rem;
}

// MIXINS //

.edge-inner {
	box-shadow:
		inset 0 0 0 14px var(--clr-black),
		inset 0 0 0 16px var(--clr-pri);
}

.edge-hori {
	box-shadow:
		-2px 0 0 0 var(--clr-pri),
		2px 0 0 0 var(--clr-pri);
}

.edge-verti {
	box-shadow:
		0 -2px 0 0 var(--clr-pri),
		0 2px 0 0 var(--clr-pri);
}

.overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.side-text {

	&:after {
		content: attr(side-text);
		position: absolute;
		left: 0;
		top: 0;
		transform-origin: 0 0;
		transform: rotate(-90deg) translate(-100%, -100%);
	}
}

.card-box {
	.edge-inner();
	background-color: var(--clr-black);
	box-sizing: border-box;
	color:white;
	padding: 1rem;
	width: 100%;
}

// STYLE //

html {
	font-family: 'Jura', sans-serif;
}

body {
	position: relative;
	overflow-x: hidden;
	display: flex !important;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	hr {
		padding: 0;
		margin: 0;
		border: 1px solid var(--clr-pri);
	}
}

.payment {

	&-cc {
		&-sect {
			display: inline-block;

			&:last-child {
				margin-left: 1rem;
			}
		}
	}
}

.ccard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 355px;
	margin: 0 auto;

	&-basket {
		.card-box();

		margin-top: 8rem;
		height: auto;

		img {
			margin: 0 auto;
		}
	}

	&-express {
		font-size: var(--fnt-large);
		text-transform: uppercase;
		width: 100%;
		display: flex;

		span {
			flex: 1;
			display: inline-block;
			text-align: center;

			&:first-child {
				color: var(--clr-pri);
				background-color: var(--clr-black);
			}
		}
	}

	&-icon {
		width: 50px;
		height: 50px;
		box-shadow: 2px 2px 0 0 var(--clr-pri);
		margin: -2px;
		background-color: var(--clr-black);
		text-align: center;
		line-height: 50px;
	}

	&-arrr {
		color: black;
		height: 100%;
		writing-mode: vertical-lr;
		text-align: center;
		padding: 0 0.5rem;
		user-select: none;
		cursor: pointer;

		&-v {
			color: black;
			width: 100%;
			text-align: center;
			padding: 0.5rem 0;
			user-select: none;
			cursor: pointer;
		}

		&:hover {
			background-color: var(--clr-pri);
		}
	}

	&-item {
		width: 100%;
		padding-bottom: 2rem;

		&:after {
			.overlay();

			content: '';
			height: 4px;
			background: var(--clr-pri);
			top: unset;
			bottom: 0;
			left: 25%;
			width: 25%;
		}
	}
	
	&-payment-choice {
		margin: 1rem 0;
	}

	&-payments {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&-opt {
		padding: 1rem;

		&.selected {
			background-color: var(--clr-pri);
			color: var(--clr-black);
		}
	}

	&-payment {
		padding: 0 0.5rem;
		writing-mode: vertical-lr;
		font-size: var(--fnt-large);
		color: black;
	}

	&-title {
		color: black;
		font-size: var(--fnt-large);
		padding: 0.5rem 0;
	}

	&-input {
		margin: 1rem 0;

		input {
			margin: 0 2px;
			border: none;
			border-bottom: 2px solid var(--clr-black, black);
		}
	}

	&-checkout {
		.card-box();
	}
	
	&-sum {
		width: 100%;
		padding: 1rem;
		box-sizing: border-box;
		background-color: var(--clr-black);
		color: var(--clr-pri);
		text-align: right;

		h4 {

			span {
				display: inline-block;
				float: left;
			}
		}
	}

	&-order {
		color: var(--clr-pri);
		padding: 1rem;
		background-color: var(--clr-black);
		text-transform: uppercase;
		align-self: flex-end;
	}
}
