*:not(head):not(style):not(meta):not(script):not(title):not(link) {
	display: block;
}

:root {
	--clr-pri: khaki;
	--clr-black: #222;



	* {
		transition-duration: 200ms;
		transition-timing-fuction: ease-in-out;
	}
}

::selection {
	background-color: var(--clr-pri);
	color: var(--clr-black);
}

// MIXINS //

.edge-inner {
	outline: 2px solid var(--clr-pri);
	outline-offset: -1rem;
}

.edge-hori {
	box-shadow:
		-2px 0 0 0 var(--clr-pri),
		2px 0 0 0 var(--clr-pri);
}

.edge-verti {
	box-shadow:
		0 -2px 0 0 var(--clr-pri),
		0 2px 0 0 var(--clr-pri);
}

.overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// STYLE //

html {
	font-family: sans-serif;
}

body {
	.edge-inner();

	position: relative;
	overflow: hidden;
	align-items: center;
	background-color: var(--clr-black);
	color: white;
	height: 100vh;
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
	width: 100vw;

	hr {
		padding: 0;
		margin: 0;
		border: 1px solid var(--clr-pri);
	}
}

.signup {
	.edge-hori();

	display: flex;
	position: relative;
	flex-direction: column;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	margin: auto;

	.passwords {

		> * + * {
			margin-top: 1rem;
		}
	}

	input {
		caret-color: transparent;
		text-align: center;
		font-size: 1.5rem;

		&.username {
			color: white;
			width: 80%;
			letter-spacing: 3px;
			padding: 0.5rem;
			background-color: transparent;
			// border-image: linear-gradient(to bottom, transparent, yellow 0.5rem);
			border: none;
			box-shadow:
				0 -12px 0 2px var(--clr-black),
				0 0 0 2px var(--clr-pri);
		}

		&.password {
			.edge-verti();

			color: white;
			width: 100%;
			height: 50px;
			background-color: transparent;
			border: none;

			transition-property: color;
			transition-duration: 200ms;
			transition-timing-fuction: ease-in-out;

		}
	}

	.info {
		position: relative;
		width: 80%;
		padding-top: 80%;
		border: 2px solid var(--clr-pri);
		text-align: center;
		color: var(--clr-pri);

		&:before {
			.overlay();

			display: inline-block;
			content: attr(text);
			top: 50%;
			font-size: 3rem;
			height: unset;
			font-weight: bold;
			transform: translateY(-50%);
		}
	}

	button {
		color: var(--clr-pri);
		overflow: hidden;
		background: none;
		font-weight: bold;
		font-size: 2rem;
		height: 0;
		border: none;
		width: 100%;
		text-align: center;
		line-height: 2rem;
		border-top: 2px solid var(--clr-pri);
		border-bottom: 2px solid var(--clr-pri);

		transition-property: height;

		&.active {
			height: calc(2rem + 4px);
		}

		&:hover {
			background-color: var(--clr-pri);
			color: var(--clr-black);
		}
	}

	.grid {
		.edge-verti();

		text-align: center;
		width: 100%;
		padding: 1rem;
		box-sizing: border-box;
	}

	& > * + * {
		// margin-top: 2rem;
	}
}
